<!DOCTYPE html>
<html ng-app="MyApp">
	<head>
	<link href="css/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div ng-controller="myControl as crt" >
				
				<!-- <div ng-show="{{crt.getSize()>0}}">
				<h1>WTF</h1>
				</div> -->
				
				<div ng-click="crt.addView(value)" ng-repeat="unit in crt.starlist" >
				
				<h1><span class="label label-success">{{key}} </span></h1>
				<h1><span class="label label-primary">NAME: {{value.name.surname}} </span></h1>
				<h1><span class="label label-primary">LASTNAME: {{value.name.lastname}} </span></h1>
				<h1><span class="label label-primary">AGE: {{value.age}} </span></h1>
				<h1><span class="label label-primary">View: {{value.view}} </span></h1>
				
				</div>
				
		</div>
		
		<script src="lib/angular.min.js"></script>
		<script src="js/data3.js"></script>
		<script src="js/component3.js"></script>
	</body>
</html>